<tr>
  <td>
    <%= question.body %>
  </td>
  <td>
    <%= link_to 'Show', question_path(question.id) %> |
  </td>
  <td>
    <%= link_to 'Edit', question_path(question.id) %> |
  </td>
  <td>
    <%= link_to 'Destroy', question_path(question.id) %>
  </td>
</tr>