<h1>Delete question for test!</h1>

<form action="/tests/<%= params[:test_id] %>/questions/remove" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="Enter question ID:">Question:</label>
    <input type="text" name="id" id="question-id">
  </p>

  <input type="submit" value="Remove question">

</form>