<tr>
      <td scope="row"><%= link_to cropping_text(gist.question.body), admin_question_path(id: gist.question.id) %></td>
      <td><%= link_to url_hash(gist.url), gist.url, target: :blank %></td>
      <td><%= gist.user.email %></td>
</tr>
