<% if @test_passage.successfully? %>
    <h1 style="color:green">The <%= @test_passage.test.title %> Test was Completed! </h1>
<% else %>
    <h1 style="color:red">The <%= @test_passage.test.title %> Test was failed! </h1>
<% end%>
<br>
<p>Success rate: <%= @test_passage.rate * 100 %>%</p>
<%= link_to 'Back to tests',  root_path%>

