<footer >
  <p>__</p>
  <p>Author: Sergey Nazarov</p>
  <p>
    <a href="https://thinknetica.com" target="_blank" rel="nofollow">Учебный проект в онлайн-школе Thinknetica</a> по созданию и прохождению тестов.
  </p>
  <%= github_url('NazarovSV','test-guru') %><br>
  <%= current_year %>
</footer>