<footer >
  <p>__</p>
  <p>Author: Sergey Nazarov</p>
  <p>
    <a href="https://thinknetica.com" target="_blank" rel="nofollow">Study project at Thinknetica online school </a> on creating and passing tests.
  </p>
  <%= github_url('NazarovSV','test-guru') %><br>
  <p><%= current_year %> year</p>
</footer>