
<footer class="footer text-muted text-center">
      <div class="mt-5">
        <p>
          Автор: Сергей Назаров
        </p>
        <p>
          <a href="https://thinknetica.com" target="_blank" rel="nofollow">Учебный проект в онлайн-школе Thinknetica</a> по созданию и прохождению тестов.
        </p>
        <p>
          <%= github_url('NazarovSV','test-guru') %>
        </p>
        <p>
          <%= current_year %> год
        </p>
      </div>
</footer>