<li>
    <%= answer.variant %>
    <%= link_to t('button.show'), admin_answer_path(answer) %> | 
    <%= link_to t('button.edit'), edit_admin_answer_path(answer) %> | 
    <%= link_to t('button.destroy'), admin_answer_path(answer), method: :delete, data: {confirm: t('.confirm')} %>
</li>