<tr>
  <td style="vertical-align: middle">
    <%= question.body %>
  </td>
  <td style="vertical-align: middle">
    <%= link_to t('button.show'), admin_question_path(question), class: "btn btn-success btn-sm" %> 
  </td>
  <td style="vertical-align: middle">
    <%= link_to t('button.edit'), edit_admin_question_path(question), class: "btn btn-warning btn-sm"%>
  </td>
  <td style="vertical-align: middle">
    <%= link_to t('button.destroy'), admin_question_path(question), class: "btn btn-danger btn-sm style", method: :delete, data: { confirm: t('.confirm') } %>
  </td>
</tr>