<h3>Test's questions:</h3>

<table>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= link_to 'Destroy', admin_question_path(question), method: :delete, data: { confirm: 'Confirm deletion?' } %></td>
    </tr>
  <% end %>
</table>