<h1 class="display-4 text-center"><%= @test.title %></h1>
<% if @questions.present? %>
  <div class="row justify-content-center mt-3">
    <div class="col col-md-4">
      <table class="table border-secondary" style="text-align: center;">
        <tr>
          <th align="left"></th>
          <th colspan="3"></th>
        </tr>
        <%= render @questions %>
      </table>
    </div>
  </div>
<% end %>
<br/>
<br/>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item"><%= link_to t('.new'), new_admin_test_question_url(test_id: @test.id) %></li>
    <li class="breadcrumb-item"><%= link_to t('button.back'), admin_tests_path %></li>
  </ol>
</nav>
