<div class="col-lg-3 col-md-5 col-6">
  <div class="card mt-3 bg-light border-secondary" style="width: 18rem;">
    <div class="card-body">
      <div class="card-text">
        <div class="lead">
          <%= test.title %>
        </div>
        (<%= t('.question', count: test.questions.count) %>)
      </div>
      <%= button_to t('.start', email: current_user.email), start_test_path(test), class: "btn btn-success mt-3" %>
    </div>
  </div>
</div>
